:export {
  primary: #3880ff;
	primary-shade: #3171e0;
	primary-tint: #4c8dff;
  secondary: #5260ff;
  tertiary: #5260ff;
  success: #2dd36f;
  warning: #ffc409;
  danger: #eb445a;
  dark: #404040;
  medium: #92949c;
  light: #f4f5f8;
}
