$color-primary: #428cff;
$color-secondary: #50c8ff;
$color-tertiary: #6a64ff;
$color-success: #2fdf75;
$color-warning: #ffd534;
$color-danger: #ff4961;
$color-dark: #f4f5f8;
$color-medium: #989aa2;
$color-light: #222428;